<ion-header>
  <ion-navbar color="{{genericService.getColor()}}">
    <ion-title style="padding: 0px;">Registro {{env.perfil.activo == 2 ? 'proveedor' : env.perfil.activo == 3 ? 'transportista' : ''}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div class="contenedor-step-3">
    <div class="sub-contenedor">
      <div class="avatar">
        <div class="imagen" (tap)="opcionesDeImagen()">
          <img src="assets/imgs/perfil/social-media.png" alt="" *ngIf="!photo_url">
          <img src="{{photo_url}}" alt="" *ngIf="photo_url">
        </div>
      </div>

      <div class="formulario">
        <form [formGroup]="formGroup">
          <div *ngFor="let dato of objetoRegistro;let i = index" class="contenedor-input">
            <div style="    width: 100%;
            font-size: 14px;
            color: #123;">{{dato.name}}</div>
            <input class="inp" (keyup)="ejecutaValidator()" formControlName="{{dato.formName}}" type="{{dato.type}}"
              [(ngModel)]="dato.value" [attr.disabled]="dato.disabled ? '' : null" placeholder="{{dato.name}}"
              maxlength="{{dato.length}}" [ngStyle]="{'width': dato.name == 'Dirección' ? '88%' : '100%'}" *ngIf="dato.type != 'date' && dato.type != 'checkbox' && dato.type != 'select'">

            <div class="direc" *ngIf="dato.name == 'Dirección'" (click)="getMapa()" style="display: inline-block;
              width: 10%;
              vertical-align: bottom;"><img
                src="assets/imgs/direcciones/home-run.png" alt=""></div>

            <ion-datetime class="dt" [(ngModel)]="dato.value" formControlName="{{dato.formName}}" text-left
              pickerFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Aceptar" #fechaNac (ionChange)="ejecutaValidator()"
              *ngIf="dato.type == 'date'" placeholder="01/12/2020"></ion-datetime>

            <ion-col col-2 class="text-center" *ngIf="dato.type == 'checkbox'">
              <ion-checkbox formControlName="{{dato.formName}}" [(ngModel)]="dato.value" (ionChange)="ejecutaValidator()">
              </ion-checkbox>
            </ion-col>

            <ion-select *ngIf="dato.type == 'select'" [(ngModel)]="dato.value" okText="Ok" cancelText="Cancelar"
              interface="action-sheet" (ionChange)="ejecutaValidator()" [selectOptions]="selectOptions" formControlName="{{dato.formName}}">
              <ion-option *ngFor="let op of dato.opts" [value]="op.id">
                {{op.value}}
              </ion-option>
            </ion-select>

            <app-control-messages [control]="formGroup.controls[dato.formName]" [clase]="'validators2'">
            </app-control-messages>
          </div>

        </form>

      </div>
    </div>
  </div>
</ion-content>
<ion-footer id="el-footer2" class="animated fadeIn" >
  <ion-toolbar>
    <div>
      <button ion-button style="width: 100%;"
        (click)="registrar()" [disabled]="btnHabilitado">Registrarme</button>
    </div>
  </ion-toolbar>
</ion-footer>