<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865306489705-7ighears9v087bg4lcn8b0sp1cg4oume.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865306489705-7ighears9v087bg4lcn8b0sp1cg4oume</string>
	<key>API_KEY</key>
	<string>AIzaSyAggkHkTPFTHnRM3Yju_pSESwYZIcokZDU</string>
	<key>GCM_SENDER_ID</key>
	<string>865306489705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.com.sharkit.luegoluego.proveedor</string>
	<key>PROJECT_ID</key>
	<string>luegoluegoproveedor</string>
	<key>STORAGE_BUCKET</key>
	<string>luegoluegoproveedor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865306489705:ios:bf5115c09e035fd9a143f8</string>
	<key>DATABASE_URL</key>
	<string>https://luegoluegoproveedor.firebaseio.com</string>
</dict>
</plist>