<ion-icon id="icn-3" name="ios-arrow-back" class="arrow-generada" (click)="regresar()"></ion-icon>
<ion-content>
  <div class="contenedor-step-3">
    <div class="sub-contenedor">
      <div class="title">
        <h4>Cambio de contraseña</h4>
      </div>
      <div class="formulario">
        <form [formGroup]="formGroup">
          <div *ngFor="let dato of objetoRegistro;let i = index" class="contenedor-input">
            <span>{{dato.name}}</span>

            <input class="inp" (keyup)="ejecutaValidator()" formControlName="{{dato.formName}}" type="{{dato.type}}"
              [(ngModel)]="dato.value" maxlength="{{dato.length}}"
              *ngIf="dato.type != 'date' && dato.type != 'checkbox' && dato.type != 'select'">

            <ion-datetime class="dt" [(ngModel)]="dato.value" formControlName="{{dato.formName}}" text-left
              pickerFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Aceptar" #fechaNac
              (ionChange)="ejecutaValidator()" *ngIf="dato.type == 'date'" placeholder="01/12/2020"></ion-datetime>

            <ion-col col-2 class="text-center" *ngIf="dato.type == 'checkbox'">
              <ion-checkbox formControlName="{{dato.formName}}" [(ngModel)]="dato.value"
                (ionChange)="ejecutaValidator()">
              </ion-checkbox>
            </ion-col>

            <ion-select *ngIf="dato.type == 'select'" [(ngModel)]="dato.value" 
              okText="Ok" cancelText="Cancelar" interface="action-sheet"
              (ionChange)="ejecutaValidator()" [selectOptions]="selectOptions" 
              formControlName="{{dato.formName}}">
              <ion-option *ngFor="let op of dato.opts" [value]="op.id">
                {{op.value}}
              </ion-option>
            </ion-select>

            <app-control-messages [control]="formGroup.controls[dato.formName]" [clase]="'validators2'">
            </app-control-messages>
          </div>
          <div class="contenedor-boton">
            <button [disabled]="btnHabilitado" (click)="guardar()">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</ion-content>
