<ion-header>
  <ion-navbar color="{{genericService.getColor()}}">
    <ion-title>{{producto.producto.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="spinner-carrito" *ngIf="!muestraMapa">
    <ion-spinner></ion-spinner>
  </div>

  <div class="nacionales" *ngIf="proveedorActivo">
    <button (click)="nacional()">Nacional</button>
    <button (click)="local()">Local</button>
  </div>

  <div class="mapp">
    <div id="map_canvas" class="mapita-google">

    </div>
    <button *ngIf="proveedorActivo" class="boton-mapa" [ngStyle]="{'background-color': genericService.getColorHex()}" (click)="comparativa()">
      Comparar precios</button>
  </div>

  <div class="contenedor-card" *ngIf="proveedorActivo" [ngStyle]="{'background-color': genericService.getColorHex()}">
    <ion-slides autoplay="2000" zoom="true" loop="true" #slides pager="true" *ngIf="slideProve">
      <ion-slide *ngFor="let p of proveedorActivo.productos; let i=index">
        <div id="card-{{i}}" class="card animated lightSpeedIn">
          <!-- <div class="tacha">
                        <div class="mini-tacha">
                            <ion-icon ios="ios-cart-outline" md="ios-cart-outline" style="color: #3b64bf;" *ngIf="!p.carrito" (click)="agregarToCarrito(p)"></ion-icon>
                            <ion-icon ios="ios-cart" md="ios-cart" *ngIf="p.carrito" style="color: #3b64bf;" (click)="productoService.deleteFavorito(p)"></ion-icon>
                        </div>
                      </div> -->
          <div class="container-card" (click)="viewDetail(p)">
    
            <img src="{{env.getImagenIndividual}}{{p.producto.adjuntoId}}" />
          </div>
          <div class="container-text" (click)="viewDetail(p)">{{p.producto.nombre}}</div>
          <div class="description" (click)="viewDetail(p)">{{p.producto.descripcion}}</div>
          <div class="precio" (click)="viewDetail(p)">{{p.precio | currency}}</div>
    
          <!-- <div class="contenedor-carrito" [ngStyle]="{'text-align': !p.cantidad || p.cantidad <= 0 ? 'end' : ''}">
            <div class="menos" *ngIf="p.cantidad > 0" (click)="decrementar(p)">
              <div [ngStyle]="{'color': genericService.getColorHex(), 'border-color': genericService.getColorHex()}">-</div>
            </div>
            <div class="cantidad" *ngIf="p.cantidad > 0">
              <div [ngStyle]="{'color': genericService.getColorHex()}">{{p.cantidad}}</div>
            </div>
            <div class="mas" (click)="incrementa(p)">
              <div [ngStyle]="{'color': genericService.getColorHex(), 'border-color': genericService.getColorHex()}">+</div>
            </div>
          </div> -->
        </div>
        <div class="informa">
          <div class="nombre">{{proveedorActivo.proveedor.nombre}}</div>
    
          <div class="ofrece">A tu servicio: </div>
          <div class="nombre">{{proveedorActivo.proveedor.empresa.nombre}}</div>
    
          <div class="ofrece">Estamos ubicados en</div>
          <div class="nombre">{{proveedorActivo.proveedor.direccion.direccion}}</div>
          <div class="nombre" *ngIf="proveedorActivo.proveedor.direccion.colonia">col.
            {{proveedorActivo.proveedor.direccion.colonia}}</div>
          <div class="nombre">{{proveedorActivo.proveedor.direccion.codigoPostal}}</div>
        </div>
    
        <div class="todos" (click)="viewDetailAll(proveedorActivo)">Ver todos</div>
        <div class="logo"><img src="assets/imgs/logo.png" alt=""></div>
      </ion-slide>
    </ion-slides>
    
    <div style="    position: absolute;
    left: -5px;
    padding: 10px;
    top: 35%;
    z-index: 9;
    color: #5d5d5d;
    font-size: 30px;" (click)="prev()" *ngIf="slideProve">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </div>
    <div style="    position: absolute;
    right: -5px;
    padding: 10px;
    top: 35%;
    z-index: 9;
    color: #5d5d5d;
    font-size: 30px;" (click)="next()" *ngIf="slideProve">
        <ion-icon name="ios-arrow-forward"></ion-icon>
    </div>
    
    <div *ngIf="!slideProve">
      <div id="card-{{i}}" class="card animated lightSpeedIn">
        <!-- <div class="tacha">
                      <div class="mini-tacha">
                          <ion-icon ios="ios-cart-outline" md="ios-cart-outline" style="color: #3b64bf;" *ngIf="!p.carrito" (click)="agregarToCarrito(p)"></ion-icon>
                          <ion-icon ios="ios-cart" md="ios-cart" *ngIf="p.carrito" style="color: #3b64bf;" (click)="productoService.deleteFavorito(p)"></ion-icon>
                      </div>
                    </div> -->
        <div class="container-card" (click)="viewDetail(proveedorActivo)">
  
          <img src="{{env.getImagenIndividual}}{{proveedorActivo.producto.adjuntoId}}" />
        </div>
        <div class="container-text" (click)="viewDetail(proveedorActivo)">{{proveedorActivo.producto.nombre}}</div>
        <div class="description" (click)="viewDetail(proveedorActivo)">{{proveedorActivo.producto.descripcion}}</div>
        <div class="precio" (click)="viewDetail(proveedorActivo)">{{proveedorActivo.precio | currency}}</div>
  
        <!-- <div class="contenedor-carrito" [ngStyle]="{'text-align': !p.cantidad || p.cantidad <= 0 ? 'end' : ''}">
          <div class="menos" *ngIf="p.cantidad > 0" (click)="decrementar(p)">
            <div [ngStyle]="{'color': genericService.getColorHex(), 'border-color': genericService.getColorHex()}">-</div>
          </div>
          <div class="cantidad" *ngIf="p.cantidad > 0">
            <div [ngStyle]="{'color': genericService.getColorHex()}">{{p.cantidad}}</div>
          </div>
          <div class="mas" (click)="incrementa(p)">
            <div [ngStyle]="{'color': genericService.getColorHex(), 'border-color': genericService.getColorHex()}">+</div>
          </div>
        </div> -->
      </div>
      <div class="informa">
        <div class="nombre">{{proveedorActivo.proveedor.nombre}}</div>
  
        <div class="ofrece">A tu servicio: </div>
        <div class="nombre">{{proveedorActivo.proveedor.empresa.nombre}}</div>
  
        <div class="ofrece">Estamos ubicados en</div>
        <div class="nombre">{{proveedorActivo.proveedor.direccion.direccion}}</div>
        <div class="nombre" *ngIf="proveedorActivo.proveedor.direccion.colonia">col.
          {{proveedorActivo.proveedor.direccion.colonia}}</div>
        <div class="nombre">{{proveedorActivo.proveedor.direccion.codigoPostal}}</div>
      </div>
  
      <div class="todos" (click)="viewDetailAll(proveedorActivo)">Ver todos</div>
      <div class="logo"><img src="assets/imgs/logo.png" alt=""></div>
    </div>
  </div>
</ion-content>

<ion-footer class="footer-detalle" *ngIf="proveedorActivo" style="box-shadow: none;background-color: rgba(142, 113, 89, 0.85);">
  <div class="cont-e">
    <!-- <div class="suma">
        <div class="menos" (click)="decrementar(producto)" >
          <div [ngStyle]="{'color': genericService.getColorHex(), 'border-color': genericService.getColorHex()}">-</div>
        </div>
        <div class="cantidad" >
          <div [ngStyle]="{'color': genericService.getColorHex()}">{{producto.cantidad}} {{producto.cantidad == 1 ? 'pza' : 'pzas'}}</div>
        </div>
        <div class="mas" (click)="incrementa(producto)">
          <div [ngStyle]="{'color': genericService.getColorHex(), 'border-color': genericService.getColorHex()}">+</div>
        </div>
      </div> -->
    <button style="width:100%" (click)="agregarCarrito()" [ngStyle]="{'background-color': genericService.getColorHex()}">
      Agregar a carrito
    </button>
  </div>
</ion-footer>