<ion-header>
  <ion-navbar color="{{genericService.getColor()}}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bienvenid@ {{user.nombre}}</ion-title>
    <ion-buttons end>

      <button ion-button icon-only (click)="verOpciones()">
        <ion-icon name="md-more" style="font-size: 2.4rem;"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <div class="spinner-carrito" *ngIf="pedidos && pedidos.length <= 0">
    <ion-spinner></ion-spinner>
  </div>

  <div class="filtros" [ngStyle]="{'background-color' : genericService.getColorHex()}" *ngIf="pedidos && pedidos?.length > 0">
    <button (click)="ordenPor(1)" *ngIf="!botones.boton1">
      <div style="font-size: 12px;">Fecha solicitud</div>
      <ion-icon name="ios-calendar-outline"></ion-icon>
    </button>
    <button (click)="ordenPor(4)" *ngIf="botones.boton1">
      <div style="font-size: 12px;">Fecha solicitud</div>
      <ion-icon name="ios-calendar"></ion-icon>
    </button>
    <button (click)="ordenPor(2)" *ngIf="!botones.boton2">
      <div style="font-size: 12px;">Fecha entrega</div>
      <ion-icon name="ios-list-box-outline"></ion-icon>
    </button>
    <button (click)="ordenPor(5)" *ngIf="botones.boton2">
      <div style="font-size: 12px;">Fecha entrega</div>
      <ion-icon name="ios-list-box"></ion-icon>
    </button>
    <button (click)="ordenPor(3)" *ngIf="!botones.boton3">
      <div style="font-size: 12px;">Estatus</div>
      <ion-icon name="ios-checkbox-outline"></ion-icon>
    </button>
    <button (click)="ordenPor(6)" *ngIf="botones.boton3">
      <div style="font-size: 12px;">Estatus</div>
      <ion-icon name="ios-checkbox"></ion-icon>
    </button>
  </div>

  <ion-list *ngIf="pedidos && pedidos?.length > 0" style="    margin-bottom: 100px;">
    <ion-item class="item-list-card" *ngFor="let p of pedidos" (click)="viewDetail(p)">
      <ion-avatar slot="start">
        <img src="assets/imgs/pedidos/entrega.png" alt="">
      </ion-avatar>
      <div class="datos-tarjetas">
        <div class="name">Pedido <strong>{{p.folio}}</strong></div>
        <div class="number">Costo <strong>{{p.total | currency}}</strong></div>
        <div class="number">Fecha Solicitud <strong>{{p.fechaAlta}}</strong></div>
        <div class="number" *ngIf="p.fechaEntrega">Fecha Entrega <strong>{{p.fechaEntrega}}</strong></div>
        <div class="number">Estatus <strong>{{p.estatus.nombre}}</strong></div>
      </div>

    </ion-item>
  </ion-list>
</ion-content>