<ion-header>
    <ion-navbar color="{{genericService.getColor()}}" [ngStyle]="{'background-color': color}">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Proveedores</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="verCarrito()" class="carrito" *ngIf="user">
                <ion-badge *ngIf="totalCarrito > 0" [ngStyle]="{'color': genericService.getColorHex()}">{{totalCarrito}}</ion-badge>
                <ion-icon name="ios-cart-outline" style="font-size: 2.4rem;"></ion-icon>

            </button>

            <button ion-button icon-only (click)="verOpciones()">
                <ion-icon name="md-more" style="font-size: 2.4rem;"></ion-icon>
            </button>

        </ion-buttons>
    </ion-navbar>
    <div class="busca" [ngStyle]="{'background-color': genericService.getColorHex()}">
        <input type="text" [(ngModel)]="palabra" placeholder="Escribe aquí tu búsqueda" (keyup)="buscarPorPalabra()">
    </div>
</ion-header>

<ion-content>
    <div class="spinner-carrito" *ngIf="proveedores && proveedores.length <= 0">
        <ion-spinner></ion-spinner>
    </div>

    <div id="card-{{i}}" class="card animated lightSpeedIn" *ngFor="let p of proveedores; let i = index">
        <!-- <div class="tacha">
                      <div class="mini-tacha">
                          <ion-icon ios="ios-cart-outline" md="ios-cart-outline" style="color: #3b64bf;" *ngIf="!p.carrito" (click)="agregarToCarrito(p)"></ion-icon>
                          <ion-icon ios="ios-cart" md="ios-cart" *ngIf="p.carrito" style="color: #3b64bf;" (click)="productoService.deleteFavorito(p)"></ion-icon>
                      </div>
                    </div> -->
        <div class="container-card" (click)="viewDetailAll(p)">
            <!-- <img src="{{p.usuario.image_url}}" *ngIf="p.usuario.image_url" />
            <img src="assets/imgs/menu/arrows.png" *ngIf="!p.usuario.image_url" /> -->

            <img src="{{env.getImagenIndividual}}{{p.usuario.adjunto_id}}" *ngIf="p.usuario.adjunto_id"/>
            <img src="assets/imgs/menu/arrows.png" *ngIf="!p.usuario.adjunto_id" /> 
        </div>
        <div class="container-text" (click)="viewDetailAll(p)">{{p.nombre}}</div>
        <div class="description" (click)="viewDetailAll(p)"><strong>Empresa</strong></div>
        <div class="precio" (click)="viewDetailAll(p)" *ngIf="p.empresa">{{p.empresa.nombre}}</div>
        <div class="precio" (click)="viewDetailAll(p)" *ngIf="!p.empresa">-</div>
    </div>
</ion-content>