<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tarjetas Frecuentes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="spinner-carrito" *ngIf="!cards">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
        <ion-item-sliding #item *ngFor="let card of cards">
          <ion-item class="item-list-card" (click)="addCard(card)">
            <ion-avatar slot="start">
              <img src="assets/imgs/tarjetas/bank.png" alt="">
            </ion-avatar>
            <div class="datos-tarjetas">
              <div class="name">{{card.alias}}</div>
              <div class="number">{{card.numeroTarjeta}}</div>
            </div>
          </ion-item>
      
          <ion-item-options side="right">
            <button ion-button (click)="borrar(card)" color="danger">
              <ion-icon name="ios-trash-outline"></ion-icon>
              Borrar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>

<ion-fab bottom right class="fab-cards animated swing">
  <button ion-fab (click)="addCard()" color="naranja">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>