<ion-header>
    <ion-navbar color="{{genericService.getColor()}}" [ngStyle]="{'background-color': color}">
      <ion-title>{{proveedor.proveedor?.nombre}}</ion-title>
    </ion-navbar>
    <div class="busca">
        <input type="text" [(ngModel)]="palabra" placeholder="Escribe aquí tu búsqueda" (keyup)="buscarPorPalabra()">
      </div>
  </ion-header>
  
  <ion-content padding>
  
    <div class="spinner-carrito" *ngIf="!productos || productos.length <= 0">
      <ion-spinner></ion-spinner>
    </div>
  
  
  
    <div *ngIf="productos && productos.length > 0">
      <div id="card-{{i}}" class="card animated lightSpeedIn" *ngFor="let p of productos; let i = index" (click)="viewDetail(p)">
        <!-- <div class="tacha">
                    <div class="mini-tacha">
                        <ion-icon ios="ios-cart-outline" md="ios-cart-outline" style="color: #3b64bf;" *ngIf="!p.carrito" (click)="agregarToCarrito(p)"></ion-icon>
                        <ion-icon ios="ios-cart" md="ios-cart" *ngIf="p.carrito" style="color: #3b64bf;" (click)="productoService.deleteFavorito(p)"></ion-icon>
                    </div>
                  </div> -->
        <div class="container-card">
  
          <img src="{{env.getImagenIndividual}}{{p.producto.adjuntoId}}" />
        </div>
        <div class="container-text">{{p.producto.nombre}}</div>
        <div class="description">{{p.producto.descripcion}}</div>
        <div class="precio">{{p.precio | currency}}</div>
      </div>
    </div>
  </ion-content>