<ion-header *ngIf="!fromPop">
  <ion-navbar color="{{genericService.getColor()}}">
    <ion-title>Mis direcciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'padding': !fromPop ? '16px' : '0px'}">
  <div class="spinner-carrito" *ngIf="!render">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="fromPop" style="padding: 10px;
  text-align: center;
  color: #fff;" [ngStyle]="{'background-color': genericService.getColorHex()}">
    Selecciona una dirección frecuente
  </div>

  <ion-list *ngIf="!fromPop">
    <ion-item-sliding #item *ngFor="let card of listaDirecciones">
      <ion-item class="item-list-card" (click)="view(card)">
        <ion-avatar slot="start">
          <img src="assets/imgs/direcciones/maps-and-flags.png" alt="">
        </ion-avatar>
        <div class="datos-tarjetas">
          <div class="name">{{card.alias}}</div>
          <div class="number" style="white-space: nowrap;
          width: 240px;
          overflow: hidden;
          text-overflow: ellipsis;">{{card.direccion.direccion}}</div>
        </div>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button (click)="borrar(card)" color="danger">
          <ion-icon name="ios-trash-outline"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="fromPop">
    <ion-item class="item-list-card" (click)="select(card)" *ngFor="let card of listaDirecciones">
      <ion-avatar slot="start">
        <img src="assets/imgs/direcciones/maps-and-flags.png" alt="">
      </ion-avatar>
      <div class="datos-tarjetas">
        <div class="name">{{card.alias}}</div>
        <div class="number">{{card.direccion.direccion}}</div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab bottom right class="fab-cards animated swing" *ngIf="!fromPop" style="bottom: 10px !important">
  <button ion-fab (click)="nuevaLista()" [ngStyle]="{'background-color': genericService.getColorHex()}">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>