<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mi carrito</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let producto of productosCarrito" class="full-size animated fadeInUp">
    <ion-card>
      <div class="favorito">
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline" *ngIf="!producto.carrito"></ion-icon>
        <ion-icon ios="ios-cart" md="ios-cart" *ngIf="producto.carrito" style="color: #3b64bf;"
          (click)="deleteFavorito(producto)"></ion-icon>
      </div>
      <img src="{{env.getImagenIndividual}}{{producto.adjuntoId}}" (click)="productoService.viewDetail(producto)" />
      <div class="card-title" (click)="productoService.viewDetail(producto)">{{producto.nombre}}</div>
      <div class="card-subtitle" (click)="productoService.viewDetail(producto)">{{producto.descripcion}}</div>
      <div class="card-price" (click)="productoService.viewDetail(producto)">{{producto.precio | currency}}</div>


      <!-- imagenes adicionales -->
      <div class="info-icons">
        <div class="square">
          <p>{{producto.proveedor?.nombre}}</p>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
<ion-footer class="footer-button">
  <div class="btn-full" (tap)="comprar()">
    <span>Comprar</span>
  </div>
</ion-footer>