<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Productos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="verCarrito()" class="carrito">
          <ion-badge *ngIf="productoService.getTotalCarrito() > 0">{{productoService.getTotalCarrito()}}</ion-badge>
        <ion-icon name="ios-cart-outline" style="font-size: 2.4rem;"></ion-icon>
        
      </button>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="ios-log-out-outline" style="font-size: 2.4rem;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<div class="filtro">
  <button ion-button (click)="openFilters()">
    <ion-icon ios="ios-options" md="ios-options"></ion-icon>
  </button>
</div>

<ion-content padding>

  <div style="margin-top: 48px"></div>

  <div class="scrolling-wrapper" *ngIf="productos.length > 0">
      <div id="card-{{i}}" class="card animated lightSpeedIn" *ngFor="let p of productos; let i = index">
        <!-- <div class="tacha">
          <div class="mini-tacha">
              <ion-icon ios="ios-cart-outline" md="ios-cart-outline" style="color: #3b64bf;" *ngIf="!p.carrito" (click)="agregarToCarrito(p)"></ion-icon>
              <ion-icon ios="ios-cart" md="ios-cart" *ngIf="p.carrito" style="color: #3b64bf;" (click)="productoService.deleteFavorito(p)"></ion-icon>
          </div>
        </div> -->
        <div class="container-card">
  
          <img src="{{env.getImagenIndividual}}{{p.adjuntoId}}" />
        </div>
        <div class="container-text">{{p.nombre}}</div>
        <div class="description">{{p.descripcion}}</div>
        <div class="precio">{{p.precio | currency}}</div>

        <div class="contenedor-carrito" [ngStyle]="{'text-align': !p.cantidad || p.cantidad <= 0 ? 'end' : ''}">
          <div class="menos" *ngIf="p.cantidad > 0" (click)="decrementar(p)"><div>-</div></div>
          <div class="cantidad" *ngIf="p.cantidad > 0"><div>{{p.cantidad}}</div></div>
          <div class="mas" (click)="incrementa(p)"><div>+</div></div>
        </div>
      </div>
    </div>

  <div *ngFor="let producto of productos" class="full-size animated fadeInUp">
    <ion-card>
      <div class="favorito">
        <ion-icon ios="ios-cart-outline" md="ios-cart-outline" *ngIf="!producto.carrito" (click)="agregarToCarrito(producto)"></ion-icon>
        <ion-icon ios="ios-cart" md="ios-cart" *ngIf="producto.carrito" style="color: #3b64bf;" (click)="productoService.deleteFavorito(producto)"></ion-icon>
      </div>
      <img src="{{env.getImagenIndividual}}{{producto.adjuntoId}}" (click)="productoService.viewDetail(producto)" />
      <div class="card-title" (click)="productoService.viewDetail(producto)">{{producto.nombre}}</div>
      <div class="card-subtitle" (click)="productoService.viewDetail(producto)">{{producto.descripcion}}</div>
      <div class="card-price" (click)="productoService.viewDetail(producto)">{{producto.precio | currency}}</div>


      <!-- imagenes adicionales -->
      <div class="info-icons">
        <div class="square">
          <p>{{producto.proveedor?.nombre}}</p>
        </div>
      </div>
    </ion-card>
  </div>

</ion-content>