<ion-header>
  <ion-navbar color="{{genericService.getColor()}}" [ngStyle]="{'background-color': color}">
    <ion-title>Documentos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="spinner-carrito" *ngIf="!documentos || documentos.length <= 0">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="documentos && documentos?.length > 0">
    <ion-item-sliding #item *ngFor="let d of documentos">
      <ion-item class="item-list-card" (click)="subirDocumento(d)" style="border-bottom: 1px solid #ddd;">
        <ion-avatar slot="start">
          <img src="assets/imgs/menu/file.png" alt="" *ngIf="!d.imagen">
          <img src="{{d.imagen}}" alt="" *ngIf="d.imagen">
        </ion-avatar>
        <div class="datos-tarjetas" style="vertical-align: top;">
          <div class="name" style="font-size:14px">Documento</div>
          <div class="name" style="font-size:14px"><strong>{{d.nombre}}</strong></div>
        </div>

      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="actualizar(card)" color="primary">
          <ion-icon name="ios-create-outline"></ion-icon>
          Editar
        </button>
        <button ion-button (click)="borrar(card)" color="danger">
          <ion-icon name="ios-trash-outline"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>